.link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

.onPage {
    color: red;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 10px;
}

.btnOnClick{
 opacity: 0.6;
}
  