<h2>Liste de tâches</h2>

@if (tasks$ | async; as tasks) {
  <ul class="task-list">
    @for(t of tasks; track t.id) {
      <li>{{ t.title }}</li>
      <button type="button" (click)="highlight(t)" class="btn-primary">
        Mettre en avant
      </button>
      <button type="button" (click)="deleteTask(t.id)" class="btn-danger"> Supprimer </button>
    }
  </ul>
} @else {
  <p>Chargement des tâches...</p>
}

<hr />

<h3>Actions</h3>

<input type="text" #taskInput placeholder="Titre de la tâche" (keyup.enter)="addTask(taskInput)" />

<button (click)="addTask(taskInput)" class="btn-primary">
  Ajouter une tâche
</button>

<!-- Zone d'injection du composant dynamique -->
<div #highlightContainer></div>