<h2>Liste de tâches</h2>

@if (tasks$ | async; as tasks) {
  <ul class="task-list">
    @for(t of tasks; track t.id) {
      <li>{{ t.title }}</li>
      <button type="button" (click)="highlight(t)" class="btn-primary">
        Mettre en avant
      </button>
      <button type="button" (click)="deleteTask(t.id)" class="btn-danger"> Supprimer </button>
      <button type="button" (click)="taskCompleted(t)" class="btn-primary"> Terminé </button>
    }
  </ul>
} @else {
  <p>Chargement des tâches...</p>
}

<h3> Tâches terminées</h3>
<ul class="task-list">
  @for (t of tasks$ | async; track t.id) {
    @if (t.completed != false ) {
      <li [class.completed]="t.completed">{{ t.title }}</li>
    }
  }
</ul>

<hr />

<h3>Actions</h3>

<div class="task-actions">
  <input
    type="text"
    #taskInput
    placeholder="Titre de la tâche"
    class="input-text"
    (keyup.enter)="addTask(taskInput.value); taskInput.value = ''"
  />

  <button (click)="addTask(taskInput.value); taskInput.value = ''" class="btn-primary">
    Ajouter une tâche
  </button>
</div>

<!-- Zone d'injection du composant dynamique -->
<div #highlightContainer></div>