.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 20vh;
}

.btn-primary:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.btnOnClick{
 opacity: 0.6;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  